.center {
    display: flex;
    align-items: center;
}

.siteHeader {
    width: 100%;
    height: 10.6667vw;
    display: flex;
    align-items: center;
    border-bottom: 0.2667vw solid rgba(0, 0, 0, .22);
}

.siteHeader a {
    display: block;
    width: 26.6667vw;
    height: 10.6667vw;
}

.logoMobile {
    width: 100%;
    height: 100%;
    background-image: url("https://www.v2ex.com/static/img/v2ex@2x.png");
    background-size: 21.3333vw 6.6667vw;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.wrapper {
    text-align: center;
    background-color: #e4e4e4;
    background-image: url("https://www.v2ex.com/static/img/shadow_light.png");
    background-repeat: repeat-x;
}

.content {
    min-width: 80vw;
    max-width: 293.3333vw;
    width: auto;
    padding: 1.3333vw;
}

.box {
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 0.5333vw 0.8vw rgba(0, 0, 0, .1);
    border-bottom: 0.2667vw solid var(--box-border-color);
}

.line1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cell {
    padding: 1.3333vw;
    font-size: 3.7333vw;
    line-height: 150%;
    text-align: left;
    border-bottom: 0.2667vw solid var(--box-border-color);
    overflow: auto;
}

.link {
    color: #778087;
    font-size: 4vw;
    cursor: pointer;
}

.reply {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.avatar {
    -moz-border-radius: 1.0667vw;
    border-radius: 1.0667vw;
    width: 6.4vw;
    height: 6.4vw;
    vertical-align: bottom;
    margin-right: 2%;
}

.username {
    font-weight: bolder;
    color: gray;
    flex-basis: 90%;
}

.index {
    font-size: 2.4vw;
    line-height: 2.4vw;
    font-weight: 500;
    border-radius: 2.6667vw;
    display: inline-block;
    background-color: #f0f0f0;
    color: #ccc;
    padding: 0.5333vw 1.3333vw;
    cursor: pointer;
}

.header {
    display: flex;
}

.header h2 {
    font-size: 5.8667vw;
    font-weight: 500;
    line-height: 120%;
    margin: 1.3333vw 0 2.6667vw;
    padding: 0;
}

.headerWrapper {
    border-bottom: 0.2667vw solid var(--box-border-color);
}

/* .content {} */